<nav class="navbar navbar-inverse">
	<ul class="nav navbar-nav">
		<li><a href="{{ path("grindatto_administration_homepage") }}">Home</a></li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Curriculum <span class="caret"></span></a>
			<ul class="dropdown-menu" role="menu">
				<li><a href="{{ path("grindatto_administration_add_training") }}">Ajout d'une formation</a></li>
				<li class="divider"></li>
				<li><a href="">Liste des formations</a></li>
			</ul>
		</li>
		<li><a href="">Message (x)</a></li>
		<li><a href="{{ path("grindatto_web_site_homepage") }}">Web-Site</a></li>
		<li><a href="">Visites (x)</a></li>
	</ul>

{# 
  <div class="container-fluid">
   
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid --> #}
</nav>
