<footer>
    <div class="wrapper">
        <p>&copy; Grindatto Anthony. Portfolio 2015</p>
        {# <ul>
            <li><a href="#">F</a></li>
            <li><a href="#">T</a></li>
            <li><a href="#">M</a></li>
        </ul> #}

        <div class="up-page">
            <a href="#"><img src="{{ asset('img/fusee.png') }}" alt="UP"></a>
        </div>
    </div>            
</footer>