<!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div class="background"></div>

<header>
    <div class="wrapper">
        <div>
            <h1>Grindatto Anthony</h1>
            <p>Développeur web back-end</p>
        </div>

        <nav>
            <ul>
                <li><a href="{{ path("grindatto_web_site_homepage") }}">Accueil</a></li>
                <!-- <li><a href="#">Portfolio</a></li> -->
                <li><a href="{{ path("grindatto_web_site_cv") }}">CV</a></li>
                <li><a href="{{ path("grindatto_web_site_homepage") }}#contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
